<div class="myFooter">
    <div class="container">
        <div (click)="toggleMenu()" class="icon">
          <div id="windows"></div>
        </div>
       <div class="far-right">
        <div class="icon">
          <div id="volume"></div>
        </div>
        <div class="icon">
          <div id="wifi"></div>
        </div>
        <div class="icon">
          <div id="battery"></div>
        </div>
        <div id="time-container">
          <p id="time">09:49</p>
        </div>
       </div>
    </div>
</div>


