.myFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 60px;
  z-index: 1000;
}

.container{
    background: rgba(0, 0, 0, 0.94);
    height: 50px;
}

.icon{
  display: inline-block;
  padding: 10px;
  // margin-top: 10px;
  width:25px;

  &:hover{
    background: rgba(48, 47, 47, 0.94);
  }
}

.far-right{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 70px;
}

#time-container{
  text-align: center;
  // height: 25px;
  width: 50px;
  position: absolute;
  top: 0;
  display: inline-block;
  cursor: default;
  text-align: center;

  &:hover{
    background: rgba(48, 47, 47, 0.94);
  }
}

#time{
  color: #fff;
  font-size: .8em;
  padding: 0;
  margin-top: 13px;
}

// ------------------------------- icons------------------------------------

#windows{
  height: 25px;
  width: 25px;
  background-image: url('../../assets/imgs/windows2.png');
  background-position: center;
  background-size: 100%;

  &:hover{
    background-image: url('../../assets/imgs/windows1.png');
    background-position: center;
    background-size: 100%;
  }
}

#battery{
  height: 25px;
  width: 25px;
  background-image: url('../../assets/imgs/nav-battery2.png');
  background-position: center;
  background-size: 100%;
}

#wifi{
  height: 25px;
  width: 25px;
  background-image: url('../../assets/imgs/nav-wifi2.png');
  background-position: center;
  background-size: 100%;
}

#volume{
  height: 25px;
  width: 25px;
  background-image: url('../../assets/imgs/nav-volume2.png');
  background-position: center;
  background-size: 100%;
}

