<div class="home-container">
  <div class="folder-container">
    <div tabindex="-1" class="folder folder1">
      <!-- <button (dblclick)="doubleClick($event)" class="button">Navigate</button> -->
      <img class="desktop-icon" src="assets/imgs/folder-assets/folder-empty.png" alt="">
    </div>
    <div tabindex="-1" class="folder folder2">
      <!-- <button (dblclick)="doubleClick($event)" class="button">Navigate</button> -->
      <img class="desktop-icon" src="assets/imgs/folder-assets/folder-empty.png" alt="">
    </div>
    <div tabindex="-1" class="folder folder3">
      <!-- <button (dblclick)="doubleClick($event)" class="button">Navigate</button> -->
      <img class="desktop-icon" src="assets/imgs/folder-assets/folder-empty.png" alt="">
    </div>
    <a (dblclick)="doubleClick($event)"><div tabindex="-1" class="folder folder3">
      <!-- <button (dblclick)="doubleClick($event)" class="button">Navigate</button> -->
      <img class="desktop-icon" src="assets/imgs/folder-assets/folder-full.png" alt="">
    </div></a>
    <div tabindex="-1" class="folder folder3">
      <!-- <button (dblclick)="doubleClick($event)" class="button">Navigate</button> -->
      <img class="desktop-icon" src="assets/imgs/folder-assets/folder-full.png" alt="">
    </div>
  </div>
</div>
